<% 
	
		const pathUpload ="/backend/adminlte/images/articles/";
	
		%>
<div class="weekly2-news-area  weekly2-pading gray-bg">
    
    <div class="container">
        <div class="weekly2-wrapper">
            <!-- section Tittle -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle mb-30">
                        <h3>Phim mới nhất</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="weekly2-news-active dot-style d-flex dot-style">
                        <% itemsNews.forEach((item)=>{ %>
                        <div class="weekly2-single">
                            <div class="weekly2-img">
                                <img src="<%= pathUpload + item.thumb %>" alt="">
                            </div>
                            <div class="weekly2-caption">
                                <span class="color1"><%= item.category.name %></span>
                                <p><%= moment(item.created.time).format("MMM Do YY") %></p>
                                <h4><a href="#"><%= item.name%></a></h4>
                            </div>
                        </div>  
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   