<!doctype html>
<html class="no-js" lang="zxx">
    <head>
       <% include ./elements/head %>
   </head>
   <body>
        <% include ./elements/header %>
    <main>
    <!-- Trending Area Start -->
    <% if(top_post== true){ %>
        <% include ./elements/top_post %>
    <% } %>
    <!-- Trending Area End -->
    
   <!-- Whats New Start -->
    <section class="whats-news-area pt-50 pb-20">
        <div class="container">
            <div class="row">
            <%- body %>
            
            <% if(sildebar== true){ %>
                <% include ./elements/sildebar %>
            <% } %> 
            <% if(sildebarFilter== true){ %>
                <% include ./elements/sildebar-filter %>
            <% } %>   
           
            </div>
        </div>
    </section>
    <!-- Whats New End -->
    <!--   Weekly2-News start -->
    <% if(bottom_weeklyNews== true){ %>
        <% include ./elements/bottom_weekly-news %>
    <% } %>       
    <!-- End Weekly-News -->
    </main>  
  <% include ./elements/footer %> 
	<!-- JS here -->
		<% include ./elements/script %>
    </body>
</html>